
.app {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.sidenav {
  color: white;
  width: 300px;
  background-color: #1E7A8C;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav > button, p {
  margin: 0 0 15px 20px;
  border: none;
  background: none;
  color: white;
  font-size: 1.2em;
}

.sidenav > p {
  display: inline;
  vertical-align: super;
}

.sidenav > i {
  font-size: 2.5em;
  padding: 0 0 10px 15px;
  margin-bottom: 20px;
}

.content {
  width: 80%;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #1E7A8C;
    color: white;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #1E7A8C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1E7A8C;
}

section {
  width: 70%;
  margin: auto;
}

.beer {
  width: 25%;
  border-radius: 5px;
  border: 1px solid #1E7A8C;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}


.beerImg {
  max-width: 200px;
  max-height: 300px;
}
